<h1><%= @employee.firstname%>'s page</h1>
<h2 class="text-center"><%=@employee.firstname+ " " +@employee.lastname%></h2>
	<h2 class="text-center"><%= @employee.email %><br></h2>
	<h2 class="text-center"><%= @employee.age%><br></h2>
	<h5 class="text-center"><%= @employee.no_of_order  %></h5><br>
    <h5 class="text-center"><%= @employee.full_time_available %></h5><br>
    <h5 class="text-center"><%= @employee.salary  %></h5><br>    