<h1><%= @student.firstname%>'s page</h1>
<%=@student.firstname+ " " +.lastname%>
	<h2 class="text-center"><%= @student.firstname %><br></h2>
	<h2 class="text-center"><%= @student.lastname %><br></h2>
	<h2 class="text-center"><%= @student.birthdate %><br></h2>
	<h2 class="text-center"><%= @student.department%><br></h2   >
