<h1><%= @product1.title%>'s page</h1>
<h2 class="text-center">Product category :-   <%=@product1.title%></h2>
<h2 class="text-center">Product Name  :-  <%= @product1.description %><br></h2>
	<h2 class="text-center">Product Price  :-<%= @product1.price %><br></h2>
	<h2 class="text-center">Availabel Quantity  :-  <%= @product1.capacity%><br></h2>
	<h5 class="text-center"><%= @product1.is_active  %></h5><br>
  <h5 class="text-center">Product status   :-  <%= @product1.status %></h5><br>    
	<h5 class="text-center">Total order for this product :- <%= @product1.orders.count %></h5> 
	