<div class="row">
    <div class="col-md-3">
      <div class="mb-3">
        <div class="card" style="width: 18rm">
          <div class="card-body">
            <div class="text-center"><b>Most Sales Product By Quantity<b><br>
              <% Order.select("customer_id, sum(quantity) as Sum_Quantity").group("customer_id").order(Sum_Quantity: :desc).first(3).each do |o| %>
                <tr>
                    <td class="text-center">cusotmer Id :- <%= o.customer_id %> </td><br>
                    <td class="text-center">customer Name :- <%= o.customer.fname + " " + o.customer.lname %> </td><br>
                    <td class="text-center"> Quantity :- <%= o.Sum_Quantity %> </td><br><br>
                </tr>
              <% end %>
          </div>  
          </div>
        </div>
      </div>
    </div>
  <div class="col-md-3">
    <div class="mb-3">
      <div class="card" style="width: 18rm">
        <div class="card-body">
          <div class="text-center"><b>Most Sales Product By Price<b><br>
            <% Order.select("customer_id, sum(total_price) as Sum_Total_price").group("customer_id").order(Sum_Total_price: :desc).first(3).each do |o| %>
              <tr>
                  <td class="text-center">Customer Id:-  <%= o.customer_id %> </td><br>
                  <td class="text-center"> Customer Name:-  <%= o.customer.fname + " " + o.customer.lname %> </td><br>
                  <td class="text-center"> Quantity:-  <%= o.Sum_Total_price %> </td><br><br>
              </tr>
           <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="col-md-3">
    <div class="mb-3">
      <div class="card" style="width: 18rm">
        <div class="card-body">
          <div class="text-center"> top 5 customer who has maximum booked orders <br>
            <% Order.group(:customer_id).where(status:0).each do |o| %>
              <tr>
                  <td class="text-center"> <%= Order.where(customer_id:o.customer_id).where(status:0).count %>. </td>
                  <td class="text-center"> <%= o.customer.fname + " " + o.customer.lname %> </td><br>
                  <td class="text-center"> <%= o.customer.email %> </td><br>
                  <td class="text-center"> <%= o.customer.phone_number %> </td><br><br>
              </tr>
            <% end %>
        </div>  
       </div>
      </div>
    </div>
  </div>  
  <div class="col-md-3">
    <div class="mb-3">
      <div class="card" style="width: 18rm">
        <div class="card-body">
          <div class="text-center"> top 5 customer who has maximum Cancelled orders <br>
            <% Order.group(:customer_id).where(status:1).each do |o| %>
              <tr>
                  <td class="text-center"> <%= Order.where(customer_id:o.customer_id).where(status:1).count %>. </td>
                  <td class="text-center"> <%= o.customer.fname + " " + o.customer.lname %> </td><br>
                  <td class="text-center"> <%= o.customer.email %> </td><br>
                  <td class="text-center"> <%= o.customer.phone_number %> </td><br><br>
              </tr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
