<h1 class="text-center">Customer's Detail</h1><br><br>
<h2 class="text-center">Customer name  :-  <%= @order.customer.fname+ " " +@order.customer.lname%></h2>
	<h2 class="text-center">Product id  :-  <%= @order.product1_id %><br></h2>
	<h2 class="text-center">Prodcut Quantity  :-  <%= @order.quantity%><br></h2>
	<h5 class="text-center">ToTal Bill  :-  <%= @order.quantity.to_i * @order.product1.price %></h5><br>
  <h5 class="text-center">Product Status :-<%= @order.status %></h5><br>    
